<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CloudServer.UI</title>
    <link rel="stylesheet" href="~/css/Layout.css" />
</head>
<body>
    <div class="top-bar">
        <span>Cloud</span>
    </div>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    @RenderSection("Scripts", false)
</body>
</html>

